# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# VS Code 
Debug

# Test binary, built with `go test -c`
*.test

# Output
*.out

# mac
.DS_Store

# bin 
bin

# vendored dependnacies 
vendor

# certs 
*.pem 

# secrets
secrets.json

# certs
certs
setup/certs

# other 
setup/config/ingress.yaml
setup/config/namespace.yml
setup/config/zipkin.yaml
setup/config/zipkin.yaml
