apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: pubsub
  namespace: hardened
spec:
  type: pubsub.redis
  metadata:
  - name: redisHost
    value: localhost:6379
  - name: redisPassword
    value: ""
  - name: publishingScopes
    value: "app2=messages"
  - name: subscriptionScopes
    value: "app3=messages"
scopes:
- app2
- app3