{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>dapr git-ops</title>
    <meta charset="UTF-8">
    <meta name="description" content="dapr git-ops<">
    <meta name="keywords" content="events, dapr, git-ops<, golang">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="static/css/app.css" />
</head>

<body>

    <div id="wrapper">

        <!-- Header -->
        <div id="page-header">
            <div id="page-header-image">
                <img src="static/img/dapr.svg" />
            </div>
        </div>

        {{end}}